<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <description>ServletContextListener</description>
        <listener-class>vaalikone.ServletListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>Vaalikone</servlet-name>
        <servlet-class>vaalikone.Vaalikone</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EhdokasVastaukset</servlet-name>
        <servlet-class>vaalikone.EhdokasVastaukset</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EhdokasLogin</servlet-name>
        <servlet-class>vaalikone.EhdokasLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EhdokkaanTiedot</servlet-name>
        <servlet-class>vaalikone.EhdokkaanTiedot</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VastausKasittely</servlet-name>
        <servlet-class>vaalikone.VastausKasittely</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaivitysTesti</servlet-name>
        <servlet-class>persist.PaivitysTesti</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Vaalikone</servlet-name>
        <url-pattern>/Vaalikone</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EhdokasVastaukset</servlet-name>
        <url-pattern>/EhdokasVastaukset</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EhdokasLogin</servlet-name>
        <url-pattern>/EhdokasLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EhdokkaanTiedot</servlet-name>
        <url-pattern>/EhdokkaanTiedot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VastausKasittely</servlet-name>
        <url-pattern>/VastausKasittely</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaivitysTesti</servlet-name>
        <url-pattern>/PaivitysTesti</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
